{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ the_site_name }}
    -
    {{ project.title }}
{% endblock title %}

{% block content %}
<h2>
    {{ project.title }}
    {% if user == project.owner %}
        - <a href={% url 'portfolio:project-update' project.id %}>Edit</a>
    {% endif %}
</h2>
<p class="card-text">
    <i class="fas fa-user">
        <a href="{{ project.repository_url }}">
            {{ project.title }} - GitHub Repository Link
        </a>
    </i>
</p>
<img
    style="max-width: 25%; box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);"
        {% if project.main_image %}
            src="{{ project.main_image.url }}"
        {% else %}
            src="{% static 'portfolio/images/placeholder.png' %}"
        {% endif %}>
    <hr>
    {% for technology in project.technology.all %}
        <a href="{% url 'portfolio:technology-projects' technology.id %}">
            {{ technology.name}}
            <i class="fas fa-info-circle"></i>
        </a>
        {% if not forloop.last %} | {% endif %}
    {% endfor %}
    <br>
    <br>
    <p>{{ project.description|linebreaksbr }}</p>
{% endblock content %}